@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #7700a6;
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.game {
  background-color: black;
  color: pink;
}
.pixel-text {
  font-family: 'Press Start 2P', cursive;
  color: #defe47;
}
.sub-title {
  font-family: 'Russo One', sans-serif;
  color: #e9a7fa;
}
.yellow-text {
  color: #defe47;
}

#cabinet-far {
  width: 400px;
  height: auto;
}
#landing {
  text-align: center;
}

.myClassname {
  height: calc(100vh - 95px) ;
  width: 60% ;
}
.column {
  float: left;
  width: 50%;
  text-align: center;
 
}
.error{
  background-image: url("https://media2.giphy.com/media/YyKPbc5OOTSQE/giphy.gif?cid=ecf05e473f794222f434dc066879fb32bcaa784f94fb064a&rid=giphy.gif");
  height: 600px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%
  
}
.form-group{
  margin: 30px;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  
}
.home{
  text-align: center;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #defe47;
 

}
.input{
  background: #defe47;
  color:#7700a6;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  
}
label{
  color:#e9a7fa
}
.author{
  margin-top: 40px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
form{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8%
}
.button{
  background: #defe47;
  color:#7700a6;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;

  /* border: 2px solid blue; */
}
.links{
  color: #defe47;
  font-family: 'Press Start 2P', cursive;
}
.formLabel{
  color: #e9a7fa;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-left: 7%;

}
.about{
  width: 800px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 15%;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  color:#defe47;
  text-shadow:2px 2px  blue;

}
.devs{
  color:#defe47;
}