@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #7700a6;
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.game {
  background-color: black;
  color: pink;
}
.pixel-text {
  font-family: 'Press Start 2P', cursive;
  color: #defe47;
}
.sub-title {
  font-family: 'Russo One', sans-serif;
  color: #e9a7fa;
}
.yellow-text {
  color: #defe47;
}

#cabinet-far {
  width: 400px;
  height: auto;
}
#landing {
  text-align: center;
}

.myClassname {
  height: calc(100vh - 95px) ;
  width: 60% ;
}
